<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.customer.dao.my.IncomePredicateDao">

    <!-- 历史总收益 -->
    <select id="queryTotalIncome" resultType="java.lang.Double" parameterType="java.util.HashMap">
        SELECT  ifnull(sum(bdsz),0) total from xfz_dzb where bdsz>0 and user_id=#{id} and leixing=#{type}
    </select>

    <!-- 历史被动善点总收益 -->
    <select id="queryTotalPassiveShandian" resultType="java.lang.Double" parameterType="java.util.HashMap">
        SELECT  ifnull(sum(bdsz),0) total
        from passive_shandian  where user_id=#{userId} and bdsz > 0
    </select>

    <!-- 积分明细 -->
    <select id="queryIntegralRecodeDetail" resultType="com.customer.dto.CMyIntegralRecordDto" parameterType="Map">
        SELECT
        (case when x.bdsz>0 then CONCAT('+', x.bdsz) else x.bdsz end) value,
        x.bdsj dateTime ,IFNULL(ofm.money,'') money,IFNULL(ofm.rangli,'') rangli
        from xfz_dzb x left join order_form ofm on x.order_id=ofm.id
        where x.user_id=#{id} and x.leixing=#{type}
    </select>

    <!-- 主动善点明细 -->
    <select id="queryLovePointRecodeDetail" resultType="com.customer.dto.CMyShandianRecode" parameterType="Map">
        SELECT (case when x.bdsz>0 then CONCAT('+', x.bdsz) else x.bdsz end) shandian,
        x.bdsj dateTime, '0' money, '' bName,quota_type quotaType from xfz_dzb x
        where x.leixing=#{type} and x.user_id=#{id}
    </select>

    <!-- 被动善点明细 -->
    <select id="queryPassiveShandianDetail" resultType="com.customer.dto.MyRecommendPointRecordDto" parameterType="Map">
        SELECT
        ps.bdsj dateTime,
        (case when ps.bdsz>0 then CONCAT('+', ps.bdsz) else ps.bdsz end) VALUE,
        (case
        when grantType=0 then '推荐消费奖励'
        when grantType=1 then '业务奖励'
        when grantType=2 then '区域奖励'
        when grantType=3 then '行业奖励'
        when grantType=4 then '配送'
        when bdsz&lt;0 and order_id is not null then '抵用扣除'
        when bdsz&lt;0 then '兑换扣除'
        else '其他' end) as type
        FROM passive_shandian ps
        WHERE ps.user_id = #{userId}
    </select>

</mapper>