<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.customer.dao.CProductSpecRelationMapper">
  <resultMap id="BaseResultMap" type="com.customer.entity.CProductSpecRelation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="spec_id" jdbcType="INTEGER" property="specId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from c_product_spec_relation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.customer.entity.CProductSpecRelation">
    insert into c_product_spec_relation (id, product_id, spec_id
      )
    values (#{id,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{specId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.customer.entity.CProductSpecRelation">
    update c_product_spec_relation
    set product_id = #{productId,jdbcType=INTEGER},
      spec_id = #{specId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, product_id, spec_id
    from c_product_spec_relation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, product_id, spec_id
    from c_product_spec_relation
  </select>
</mapper>