<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.customer.dao.CGsAttValueMapper">
  <resultMap id="BaseResultMap" type="com.customer.entity.CGsAttValue">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="att_id" jdbcType="INTEGER" property="attId" />
    <result column="att_value" jdbcType="VARCHAR" property="attValue" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from c_gs_att_value
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.customer.entity.CGsAttValue">
    insert into c_gs_att_value (id, att_id, att_value
      )
    values (#{id,jdbcType=INTEGER}, #{attId,jdbcType=INTEGER}, #{attValue,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.customer.entity.CGsAttValue">
    update c_gs_att_value
    set att_id = #{attId,jdbcType=INTEGER},
      att_value = #{attValue,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, att_id, att_value
    from c_gs_att_value
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, att_id, att_value
    from c_gs_att_value
  </select>
</mapper>